<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <span>Añadir una pregunta</span>
    <ion-item>
        <ion-label #label1 position="stacked">Escribe tu pregunta</ion-label>
        <ion-input aria-labelledby="label1" type="text" placeholder="Escribe aqui" [(ngModel)]="question"></ion-input>
    </ion-item>
</ion-content>