<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar class="welcome">
            <span>
              <img [src]="'../../assets/uploads/profilePics/' + profilePic" class="profilePic">
              <p> Bienvenido,  {{nameUser}}</p>
            </span>
        </ion-toolbar>
    </ion-header>
    <!-- (ionInput)="buscar($event)" -->
    <ion-searchbar [debounce]="1000" mode="ios" inputmode="search" search-icon="search-circle" animated="true" placeholder="Busca algo"></ion-searchbar>
    <div class="anuncios">
        <div>
            <p>Tablón de anuncios del</p>
            <p>{{nameGrado}}</p>
        </div>

        <swiper-container loop="true" navigation="true">
            <ng-container *ngIf="anuncios.length>0">
                <swiper-slide *ngFor="let item of anuncios">
                    <div class="slideContent">
                        <p>{{item.titulo_anuncio}}</p>
                        <p>{{item.texto_anuncio}}</p>
                    </div>
                </swiper-slide>
            </ng-container>

            <ng-container>
                <swiper-slide *ngIf="anuncios.length===0">
                    <div class="slideContent">
                        <p>No hay anuncios</p>
                        <p>Tu grado no ha publicado ningún anuncio todavía</p>
                    </div>
                </swiper-slide>
            </ng-container>


        </swiper-container>
        <div class="moreAnuncios">
            <!-- (click)="goto('/user/' + user_id )" -->
            <ion-button ngClass="moreAnBtn" color="dark" shape="round" fill="solid">Ver todos los anuncios</ion-button>
        </div>
    </div>
    <div class="feedContent">

    </div>
</ion-content>
