ion-header {
    height: 15vh;
    display: flex;
    align-items: last baseline;
}

ion-title {
    text-align: center;
    font-size: 8vw;
}

ion-toolbar.welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 6vw;
    & img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 100%;
        border: 1px solid black;
        margin-right: 15px;
    }
    & span {
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.anuncios {
    margin: 10px;
    border: 1px solid black;
    background-color: #f3f3f3;
    border-radius: 25px;
    &>div:first-child {
        padding: 10px 10px 0;
        text-align: center;
        &>p:nth-child(2) {
            font-weight: 600;
        }
    }
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
    height: 25px;
    color: black;
    stroke: black;
    stroke-width: 1px;
    stroke-linecap: round;
}

swiper-container::part(button-prev) {
    left: var(--swiper-navigation-sides-offset, 2px);
}

swiper-container::part(button-next) {
    right: var(--swiper-navigation-sides-offset, 2px);
}

.slideContent {
    margin: 0 35px;
    padding: 5px;
    border-radius: 25px;
    border: 1px solid black;
    background-color: #d9d9d9;
    text-align: center;
    &>p:nth-child(1) {
        font-weight: 550;
        font-size: 6vw;
    }
    &>p:nth-child(2) {
        font-size: 5vw;
    }
}

.moreAnuncios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.moreAnBtn {
    text-transform: none;
    height: 6vh;
    font-size: 5vw;
}

.feedContent {
    margin: 10px;
    border: 1px solid black;
    background-color: #f3f3f3;
    border-radius: 25px;
    padding: 10px 10px 0;
    text-align: center;
}
