<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title (click)='reload()' size="large">Feed</ion-title>
        </ion-toolbar>
    </ion-header>


    <div class="feedNormalContainer">
        <div *ngFor="let item of list; index as i">
            <div *ngIf="item.type==='APUNTES'" class="feedElement">
                <!-- item["id_apuntes"]
          item["filename"]
          item["titlename"]
          item["visualizacion"]
          item["downloads"]
          item["description"]
          item["upload_datetime"]
          item["user"]
          item["asignatura_id"]
          item["asignatura_name"]
          item["grado_name"]
          item["preguntas"]
          item["type"] = "APUNTES"
    },
    }]  -->

                <div class="header" (click)="goto('/asignatura/' + item.asignatura_id)">
                    <div>
                        <span>{{item["grado_name"]}}</span>
                        <span>{{item["asignatura_name"]}}</span>
                    </div>
                    <span>{{item["fechaFormateada"]}}</span>
                </div>
                <div class="content" (click)="goto('/apuntes/' + item.id_apuntes)">
                    <span class="title">{{item["titlename"]}}</span>
                    <span class="description">{{item["description"]}}</span>
                </div>
                <div class="footer">
                    <div (click)="goto('/user/'+ item.user)" class="user">
                        <img [src]="'../../assets/uploads/profilePics/' + item['profilePic']">
                        <span>{{item['username']}}</span>
                    </div>
                    <div class="icons">
                        <div>
                            <ion-icon name="eye-outline"></ion-icon>
                            <span>{{item["visualizaciones"]}}</span>
                        </div>
                        <div>
                            <ion-icon name="download-outline"></ion-icon>
                            <span>{{item["downloads"]}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="item.type==='PREGUNTAS'" class="feedElement">


                <!--  [

        item["id_pregunta"]
        item["texto_pregunta"]
        item["upload_datetime"]
        item["user_id"]
        item["respuestas"]
        item["asignatura_name"]
        item["asignatura_id"]
        item["grado_name"]
        item["apuntes_title"]
        item["apuntes_id"]
        item["type": "PREGUNTAS"
   -->

                <div class="header" (click)="goto('/asignatura/' + item.asignatura_id)">
                    <div>
                        <span>{{item["grado_name"]}}</span>
                        <span>{{item["asignatura_name"]}}</span>
                    </div>
                    <span>{{item["fechaFormateada"]}}</span>
                </div>
                <div class="content" (click)="goto('/preguntas/' + item.id_pregunta)">
                    <span class="title">{{item["texto_pregunta"]}} </span>
                    <span class="description">{{item["apuntes_title"]}}</span>
                </div>
                <div class="footer">
                    <div (click)="goto('/user/'+ item.user_id)" class="user">
                        <img [src]="'../../assets/uploads/profilePics/' + item['profilePic']">
                        <span>{{item['username']}}</span>
                    </div>
                    <div class="icons">
                        <div>
                            <ion-icon name="alert"></ion-icon>
                            <span>{{item['respuestas']}}</span>
                        </div>

                        <!-- <div>
                            <ion-icon name="download-outline"></ion-icon>
                            <span>34</span>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</ion-content>
