ion-header {
    height: 15vh;
    display: flex;
    align-items: last baseline;
}

ion-title {
    text-align: center;
}

#registerState {
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

$ballSize: 30px;
$bgSteps: #838383;
.negro {
    background-color: black!important;
}

#registerState>div:nth-child(1) {
    background-color: $bgSteps;
    height: $ballSize;
    width: $ballSize;
    border-radius: 100%;
}

#registerState>div:nth-child(2) {
    background-color: $bgSteps;
    width: 10px;
    height: 5px;
}

#registerState>div:nth-child(3) {
    background-color: $bgSteps;
    height: $ballSize;
    width: $ballSize;
    border-radius: 100%;
}

#registerState>div:nth-child(4) {
    background-color: $bgSteps;
    width: 10px;
    height: 5px;
}

#registerState>div:nth-child(5) {
    background-color: $bgSteps;
    height: $ballSize;
    width: $ballSize;
    border-radius: 100%;
}

#registerContent {
    height: 64vh;
}

#registerStateButtons {
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#registerForm>div:nth-child(1) {
    height: 100%;
}

#registerForm>div:nth-child(1)>div {
    height: 18%;
    max-width: 80vw;
}

.error {
    margin-top: 1px;
    color: red;
    background-color: white;
    z-index: 2;
    width: 90vw;
    text-align: center;
}

.error>ul {
    text-align: left;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
    margin: 5px 0;
}

.profilePicInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.8em;
    margin: 5px 0;
    height: 48vh!important;
}

input {
    border: 2px solid black;
    border-radius: 14px;
    width: 80vw;
    overflow: hidden;
    font-size: 1em;
    background-color: #f5f5f5;
    padding: 2px 10px;
    min-height: 30px;
}

.label-input {
    font-size: 2.5vh!important;
    margin-bottom: 5px;
}

.moreMargin {
    margin-bottom: 15px;
}

ion-button {
    text-transform: none;
}

#profilePic {
    width: 50vw;
    height: 50vw;
    border-radius: 100%;
    border: 2px solid black;
    cursor: pointer;
    object-fit: cover;
}

#profilePicButton {
    --padding-top: 10px;
    --padding-bottom: 10px;
}

.selector {
    color: black;
    border: 2px solid black;
    border-radius: 14px;
    width: 80vw;
    overflow: hidden;
    font-size: 1em;
    background-color: #f5f5f5;
    padding: 2px 10px;
    min-height: 30px;
}

.disabled {
    border: 2px solid rgb(179, 179, 179);
}

#closeModal {
    width: 100%;
    text-align: flex-end;
    padding: 10px 20px 0;
    font-size: 1.3em;
    cursor: pointer;
}
