<ion-content>
    <ion-header class="header" collapse="condense">
        <ion-toolbar>
            <ion-button class="backButton" color="dark" shape="outline" (click)="goBack()">
                <ion-icon name="chevron-back"></ion-icon>
            </ion-button>
        </ion-toolbar>
        <ion-toolbar>
            <ion-title size="large">Usuario</ion-title>
        </ion-toolbar>
    </ion-header>
    <div class="section1">
        <img class="profilePic" [src]="src">
        <div class="userdata">
            <span>{{name_surname}}</span>
            <span>@{{username}}</span>
            <span>{{grado}}</span>
            <span>{{uni}}</span>
        </div>
    </div>

    <div class="data">
        <div>
            <ion-icon name="people"></ion-icon>
            <span>Seguidores</span>
            <span>{{followers}}</span>
        </div>
        <div>
            <ion-icon name="document-text"></ion-icon>
            <span>Apuntes</span>
            <span>{{apuntes}}</span>
        </div>
        <div>
            <ion-icon name="help"></ion-icon>
            <span>Preguntas</span>
            <span>{{preguntas}}</span>
        </div>
        <div>
            <ion-icon name="alert"></ion-icon>
            <span>Respuestas</span>
            <span>{{respuestas}}</span>
        </div>
    </div>
</ion-content>
