<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Iniciar sesión</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list id="loginInputs">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="input">
                <ion-label class="label-input" position="stacked" #label1>Nombre de usuario</ion-label>
                <input id="username-input" aria-labelledby="label1" formControlName="username" required>
            </div>

            <div class="input">
                <ion-label class="label-input" position="stacked" #label2>Contraseña</ion-label>
                <input id="password-input" formControlName="password" aria-labelledby="label2" type="password" required>
            </div>

            <ion-button type="submit" id="login-btn" class="btn" fill="solid">Iniciar sesión</ion-button>
        </form>
    </ion-list>

    <ion-list id="other-options">
        <div class="divider"></div>


        <ion-button class="btn" (click)="goTo('/register')" fill="solid">Registrate</ion-button>
        <ion-button class="btn" fill="outline" (click)="openModal(!isModalOpen)">Inicia sesión con google
            <ion-icon name="logo-google"></ion-icon>
        </ion-button>

    </ion-list>

    <ion-modal id="login-failed-modal" #modal [isOpen]="isModalOpen">
        <ng-template>
            <div id="closeModal" (click)="openModal(!isModalOpen)"> X </div>
            <div class="wrapper">
                <h1>Login Fallido</h1>

                <p>{{loginError}}</p>
            </div>
        </ng-template>
    </ion-modal>

</ion-content>
