<ion-content>
    <ion-header class="header" collapse="condense">
        <ion-toolbar>
            <ion-button class="backButton" color="dark" shape="outline" (click)="goBack()">
                <ion-icon name="chevron-back"></ion-icon>
            </ion-button>
        </ion-toolbar>
        <ion-toolbar>
            <ion-title size="large">Universidad</ion-title>
        </ion-toolbar>

    </ion-header>

    <div class="uni">
        <div>
            <p>{{uni}}</p>
            <img [src]="'../../../../assets/uploads/logos/' + logo " alt="logo de universidad">
        </div>
        <p>Dirección: {{address}}</p>
    </div>
    <div class="gradosList">
        <h5>Grados</h5>
        <ng-container *ngFor="let item of grados">
            <div (click)="goto('/grado/'+item.id_grado)" class="grado">
                <div>
                    <p>{{item.uni_name}}</p>
                </div>
                <p class="name">{{item.grado_name}}</p>
                <p class="desc">{{item.grado_description}}</p>
            </div>
        </ng-container>
    </div>

</ion-content>
