<ion-content>
    <ion-header class="header" collapse="condense">
        <ion-toolbar>
            <ion-button class="backButton" color="dark" shape="outline" (click)="goBack()">
                <ion-icon name="chevron-back"></ion-icon>
            </ion-button>
        </ion-toolbar>
        <ion-toolbar>
            <ion-title size="large">Universidad</ion-title>
        </ion-toolbar>

    </ion-header>

    <h5> uni {{id_uni}}</h5>
    <h5>logo</h5>
    <h5>direccion</h5>
    <h5>lista de grados</h5>

</ion-content>
