<ion-content>
    <ion-header class="header" collapse="condense">
        <ion-toolbar>
            <ion-button class="backButton" color="dark" shape="outline" (click)="goBack()">
                <ion-icon name="chevron-back"></ion-icon>
            </ion-button>
        </ion-toolbar>
        <ion-toolbar>
            <ion-title size="large">Pregunta</ion-title>
        </ion-toolbar>

    </ion-header>

    <div class="preguntaContent">
        <div class="header">
            <!-- <div>
              <span>{{grado}}</span>
              <span>{{asignatura_name}}</span>
          </div> -->
            <span>{{fechaFormateada}}</span>
        </div>
        <div class="content">
            <span>{{texto_pregunta}}</span>
        </div>
        <div class="footer">
            <div (click)="goto('/user/'+user)">
                <img src={{profilePic}} alt="foto de perfil del usuario">
                <span>{{username}}</span>
            </div>
            <div>
                <ion-icon name="alert"></ion-icon>
                <span>{{respuestas.length}}</span>

            </div>
        </div>

    </div>

    <div class="answerSection">
        <ion-button color="dark" id="open-modal" expand="block">Añadir nueva respuesta</ion-button>
        <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
            <ng-template>
                <ion-header>
                    <ion-toolbar>
                        <ion-buttons slot="start">
                            <ion-button (click)="cancel()">Cancelar</ion-button>
                        </ion-buttons>
                        <ion-buttons slot="end">
                            <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
                        </ion-buttons>
                    </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                    <span>Añadir una respuesta</span>
                    <ion-item>
                        <ion-label #label1 position="stacked">Escribe tu respuesta</ion-label>
                        <ion-input aria-labelledby="label1" type="text" placeholder="Escribe aqui" [(ngModel)]="answer"></ion-input>
                    </ion-item>
                </ion-content>
            </ng-template>
        </ion-modal>
        <div class="answers">
            <div *ngFor="let item of respuestas">
                <div class="header">
                    <div (click)="goto('/user/'+item.user)">
                        <img src={{item.profilePic}} alt="foto de perfil de usuario">
                        <span>{{item.username}}</span>
                    </div>
                    <span>{{item.fechaFormateada}}</span>
                </div>
                <span>
            {{item.texto_respuesta}}
            </span>
            </div>
        </div>
    </div>

</ion-content>
