ion-header.header {
    height: 15vh;
    display: flex;
    align-items: last baseline;
    & ion-toolbar:nth-child(1) {
        width: 37vw;
    }
    & ion-toolbar.ios:nth-child(2) {
        padding-bottom: 10px;
    }
}

ion-header.header ion-title {
    text-align: left;
    font-size: 8vw;
}

ion-button {
    text-transform: none;
}

.backButton {
    --padding-start: 2vw;
    --padding-end: 2vw;
    width: 16vw;
    height: 16vw;
    --border-style: none;
}

.asigData {
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &>span:nth-child(1) {
        margin: 10px 0px 0px;
        font-size: 4.5vw;
        color: rgb(83, 83, 83);
    }
    &>span:nth-child(2) {
        margin: 5px 0px 0px;
        font-size: 5vw;
        color: rgb(83, 83, 83);
    }
    &>span:nth-child(3) {
        font-size: 6vw;
        margin: 15px 0px 0px;
        font-weight: 600;
    }
    &>span:nth-child(4) {
        font-size: 5vw;
        margin: 15px 0px 0px;
        font-weight: 400;
        text-align: center;
    }
}

.asigData>div {
    width: 95%;
    margin: 20px 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    &>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        &>*:nth-child(2) {
            font-size: 4.4vw;
        }
        &>*:nth-child(3) {
            font-size: 5vw;
        }
    }
}

.profileBtn {
    height: 7vh;
    text-transform: none;
}

.asigContent {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.asigContent .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 7px;
    color: grey
}

.asigContent .menu>* {
    margin-bottom: 3px;
}

.asigContent .menu>*.selected {
    color: black;
    border-bottom: solid black 2px;
}

.feedElement {
    border-top: 1px solid rgba(33, 33, 33, 0.389);
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
}

.feedElement .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &>*:nth-child(2) {
        color: rgb(61, 61, 61);
        font-weight: 400;
        font-size: 4vw;
        min-width: fit-content;
    }
}

.feedElement .header>div {
    display: flex;
    flex-direction: column;
    &>*:nth-child(1) {
        color: rgb(61, 61, 61);
        font-weight: 450;
        font-size: 4vw;
        min-width: fit-content;
    }
    &>*:nth-child(2) {
        color: rgb(0, 0, 0);
        font-weight: 600;
        font-size: 4.1vw;
        min-width: fit-content;
    }
}

.feedElement .content {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0;
    &>.title {
        color: rgb(0, 0, 0);
        font-weight: 650;
        font-size: 4.6vw;
        min-width: fit-content;
    }
    &>.description {
        color: rgb(24, 24, 24);
        font-weight: 500;
        font-size: 4.2vw;
        height: 5vh;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.feedElement .footer {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feedElement .footer .user {
    display: flex;
    direction: row;
    justify-content: flex-start;
    align-items: center;
    &>img {
        width: 30px;
        height: 30px;
        border: 1px solid black;
        border-radius: 100%;
        object-fit: cover;
    }
    &>span {
        font-size: 4.5vw;
        margin-left: 7px;
    }
}

.feedElement .footer .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 5vw;
    &>* {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px
    }
    & ion-icon {
        font-size: 6vw;
        margin-right: 2px;
    }
}
