<ion-content>
    <ion-header class="header" collapse="condense">
        <ion-toolbar>
            <ion-button class="backButton" color="dark" shape="outline" (click)="goBack()">
                <ion-icon name="chevron-back"></ion-icon>
            </ion-button>
        </ion-toolbar>
        <ion-toolbar>
            <ion-title size="large">Apuntes</ion-title>
        </ion-toolbar>

    </ion-header>

    <div class="apuntesContent">
        <div class="header">
            <div>
                <span>{{grado}}</span>
                <span>{{asignatura_name}}</span>
            </div>
            <span>{{fechaFormateada}}</span>
        </div>
        <div class="content">
            <span>{{titleName}}</span>
            <span>{{descripcion}}</span>
            <span>{{filename}}</span>
            <ion-button (click)="openModal()" expand="block">Visualizar apuntes</ion-button>
        </div>
        <div class="footer">
            <div (click)="goto('/user/'+user_id)">
                <img src={{profilePicsrc}} alt="foto de perfil del usuario">
                <span>{{userName}}</span>
            </div>
            <div>
                <ion-icon name="help"></ion-icon>
                <span>{{preguntas.length}}</span>
                <ion-icon name="eye"></ion-icon>
                <span>{{visualizaciones}}</span>
                <ion-icon name="download-outline"></ion-icon>
                <span>{{downloads}}</span>
            </div>
        </div>
    </div>
    <div class="questionSection">
        <ion-button color="dark" (click)="openQuestion()" expand="block">Añadir nueva pregunta</ion-button>
        <div class="questions">
            <div *ngFor="let item of preguntas">
                <div class="header">
                    <div (click)="goto('/user/'+item.user_id)">
                        <img src={{item.user_profilePic}} alt="foto de perfil de usuario">
                        <span>{{item.user_username}}</span>
                    </div>
                    <span (click)="goto('/preguntas/' + item.id_pregunta)">{{item.fechaFormateada}}</span>
                </div>
                <span (click)="goto('/preguntas/' + item.id_pregunta)">
                  {{item.texto_pregunta}}
              </span>
                <div (click)="goto('/preguntas/' + item.id_pregunta)">
                    <ion-icon name="alert"></ion-icon>
                    <span>{{item.respuestas}}</span>
                </div>
            </div>
        </div>
    </div>

</ion-content>